.header {
    background-color: var(--color-primary);
  display: flex;
  flex-flow: row;
  justify-content: center;
  
}
.header  h2 {
    margin: 5px 5px 5px 5px;
}
.cont{
  background-color: var(--color-primary);
}
.home{
  margin-left: 90px;
  width: 50px;
}
.cont button{
  width: 120px;
  height: 40px;
}
.user{
  width:100px;

  height: 50px;
  background-color: var(--card);
  margin-left: 700px;
}