.auth {
  display: flex;
  margin-right: 100px;
}
.logo {
  color: rgba(170, 28, 64, 0.923);
  margin-left: 600px;
}
.container {
  display: flex;
  background-color: var(--color-primary);
  justify-content: space-between;
}

.signup {
  width: 56px;
  height: 79px;
}
/* .auth > h3 {
  margin: 5px 5px 5px 5px;
} */
/* .logo > h3 {
  margin: 5px 5px 5px 5px;
} */
