.auth {
  display: flex;
}
.logo {
  color: rgb(231, 21, 39);
}
.container {
  display: flex;
  background-color: var(--color-primary);
  justify-content: space-between;
}

.signup {
  width: 56px;
  height: 79px;
}
/* .auth > h3 {
  margin: 5px 5px 5px 5px;
} */
/* .logo > h3 {
  margin: 5px 5px 5px 5px;
} */
