
.formcontainer{
    background-color: var(--form);
    display: flex;
    flex-direction: column;
    align-items: center;
    width:40%;
    height: 500px;
    margin-left: 400px;
    padding-top: 40px;
    padding-bottom: 40px;

}
.formcontainer input{
    width:80%;
    height:70px
}
.formcontainer label{
    padding-left: 200px;
    align-items: center;
    height: 70px;
    width:80%;
    background-color: 
    /* var(--button-color) */
    rgba(181, 191, 146, 0.602);
}
.title{
    margin-left: 600px;
}
.formcontainer button{
    width: 80%;
    height: 80px;
}