.container{
    background-color: var(--card-light);
    display: flex;
    flex-direction: column;
    width:500px ;
    height: 500px;
    margin-left: 300px;
}
.fcont div{
    margin-left: 10px;
    background-color:var(--card);

}