* {
    box-sizing: border-box;
}
body{
    --color-primary:rgba(204, 216, 225, 0.884);
    --color-secondary:rgba(204, 216, 225, 0.256);
    font-family: 'Roboto', sans-serif;
    color: #791010;
    margin: 0;
    background-color: var(--color-secondary);

}
h1,
h2,
h3 {
  font-family: 'Oswald', 'Roboto', sans-serif;
}
