.container{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    margin-left: 320px;
    width: 100%;
    height: 500px
    
    ;
}

.profile{
    background-color: var(--tertiary-color);
    width:30%;
    padding-left: 50px;

}
.center{
    background-color:var(--card-three);
    width: 30%;
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: flex-start; */
    
}

.container button{
    width: 120px;
    height: 40px;
}